<div class="col-12">
  <div class="d-flex flex-wrap">
    <div class="col-3" *ngFor="let nft of nfts">
      <div class="card bg-dark color-light m-1 p-2">
        <div style="overflow: hidden; height: 20vh">
          <img
            src="{{ nft.image }}"
            class="card-img-top"
            style="width: 100%; height: auto; object-fit: cover"
            alt="..."
          />
        </div>
        <div class="card-body">
          <h5 class="card-title m-0">{{ nft.title | truncate : 15 }}</h5>
          <p class="card-text m-0 text-sm">Last Bid: {{ nft.last_bid }} ETH</p>
          <p class="card-text">{{ nft.price | currency }}</p>
          <div class="col-12 d-flex justify-content-center gap-1">
            <div class="col-6">
              <button class="btn btn-primary w-100 p-1 text-sm">Bid</button>
            </div>
            <div class="col-6">
              <button class="btn btn-secondary w-100 p-1 text-sm">
                View Item
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
